package com.jenkins.test;

import org.junit.runner.RunWith;
import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(
		plugin = {"pretty", "html:target/cucumber-html-report",
				"json:target/cucumber-reports/Cucumber.json"},
		features= {"@FEATURE@"},
		glue = {"com.jenkins.test.steps"},
		dryRun = false
		)
public class @CLASSNAME@ {

}